body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

h1, h2 {
    color: #333;
}

#formulaire, #elevesListe {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
}

input {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#eleveList li {
    margin: 10px 0;
}
